* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222222;
  padding: 10px;                /* space on small screens */
}

/* Card adapts to any screen */
.Chat-Bot .chat-container {
  width: 100%;                  /* full width on small screens */
  max-width: 430px;             /* fixed max width on large screens */
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Chat-Bot .chat-header {
  background: #000000;
  color: #fff;
  padding: 12px;
  text-align: center;
}

/* Chat area uses viewport height to be flexible */
.Chat-Bot .chat-box {
  padding: 10px;
  height: 60vh;                 /* 60% of screen height */
  max-height: 430px;
  overflow-y: auto;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.Chat-Bot .msg {
  max-width: 80%;
  padding: 8px 10px;
  margin: 6px 0;
  border-radius: 12px;
  font-size: 14px;
  word-wrap: break-word;
  
}

/* bot (left) */
.Chat-Bot  .bot-msg {
  background: #FFBB2C;
  align-self: flex-start;
  color: #fff; 
}

/* user (right) */
.Chat-Bot .user-msg {
  background: #000000;
  color: #fff;
  align-self: flex-end;
  margin-left: auto;
}

.Chat-Bot .chat-input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

.Chat-Bot .chat-input-area input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.Chat-Bot .chat-input-area button {
  border: none;
  padding: 0 16px;
  background: #585757;
  color: white;
  font-weight: 200;
  cursor: pointer;
}


@media (max-width: 400px) {
 .Chat-Bot  .chat-header {
    font-size: 15px;
    padding: 10px;
  }

 .Chat-Bot .msg {
    font-size: 13px;
  }

 .Chat-Bot  .chat-input-area input {
    font-size: 13px;
  }
}
